# ------------------------------

# Python Bytecode

# ------------------------------

**pycache**/
*.pyc
*.pyo
*.pyd
*.py[cod]

# ------------------------------

# Virtual Environment

# ------------------------------

venv/
env/
.venv/
ENV/

# ------------------------------

# Python Packaging

# ------------------------------

build/
dist/
*.egg-info/
.eggs/

# ------------------------------

# Logs

# ------------------------------

*.log

# ------------------------------

# SQLite Database

# ------------------------------

*.db
*.sqlite3

# ------------------------------

# Environment Variables

# ------------------------------

.env

# ------------------------------

# VS Code

# ------------------------------

.vscode/

# ------------------------------

# PyQt Build Files

# ------------------------------

*.spec

# ------------------------------

# OS Files

# ------------------------------

.DS_Store
Thumbs.db

# ------------------------------

# Test Outputs

# ------------------------------

coverage/
htmlcov/

# ------------------------------

# Temporary Files

# ------------------------------

*.tmp
*.temp

# ------------------------------

# Cache

# ------------------------------

.cache/

# ------------------------------

# Jupyter

# ------------------------------

.ipynb_checkpoints/
